/* .video-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
  border: 4px solid #ff0000;
} */

.video-content {
  padding: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  overflow: hidden;
  cursor: pointer;
  background: linear-gradient(to bottom, #111111, #000000);
}
.listInfo {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #dddddd;
  padding: 10px;
  background: linear-gradient(to bottom, #ffffff, #a0a0a0);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  text-align: center;
}

.video-details {
  position: relative;
  padding: 0 10px;
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.video-details p {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  display: block;
  margin: 0;
}

.video-description {
  background: linear-gradient(
    to bottom,
    rgba(137, 137, 137, 0.5),
    rgba(74, 33, 33, 0.5)
  );
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
}

.info-video {
  padding-left: 4px;
  margin: 0 3px;
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}

.info-video > * {
  margin-right: 5px;
  flex-grow: 1;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.video-thumbnail {
  position: relative;
  width: 50%;
  height: 98%;
  overflow: hidden;
  border-radius: 10px;
}

.video-thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-number {
  position: absolute;
  top: 4px;
  right: 4px;
  font-size: 24px;
  color: #333;
  font-weight: bold;
  margin-right: 10px;
  color: #ffffff;
}

.video-container select {
  color: #ffffff;
  background: #181818;
  border: none;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  font-weight: 500;
  outline: none;
}

.video-container select option {
  color: #ffffff;
  background: #181818;
  border: none;
}

.video-container select option:hover {
  background: #282828;
}

.video-container select:focus {
  color: #ffffff;
  background: #282828;
}

@media (max-width: 760px) {
  .video-thumbnail {
    height: auto;
  }

  .video-details p {
    font-size: 14px;
  }

  .video-description {
    font-size: 12px;
  }

  .listInfo {
    padding: 5px;
  }
}

@media (min-width: 760px) {
  .video-thumbnail {
    height: auto;
  }

  .video-details p {
    font-size: 14px;
  }

  .video-description {
    font-size: 12px;
  }

  .listInfo {
    padding: 5px;
  }
}
@media (max-width: 455px) {
  .video-description {
    font-size: 8px;
    height: 20px;
    padding: 4px;
  }
}
@media (max-width: 1000px) and (min-width: 760px) {
  .video-description {
    font-size: 8px;
    height: 20px;
    width: 100%;
    padding: 4px;
  }
  .video-details p {
    font-size: 12px;
    padding: 2px;
  }
}

.video-link {
  border: 1px solid #000;
  background-color: #a60000;
  text-align: center;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.video-link a {
  display: block;
  width: 100%;
  height: 100%;
  color: #dddddd;
  font-size: 18px;
  font-weight: bold;
}

.blockStatus {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #ffffff;
  width: 100px;
  height: 40px;
}

.statusBlock {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: -5px;
  right: 10px;
  width: 30%;
  padding: 4px;
}
